.editorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;

  .error {
    background:indianred;
  }

  input {
    margin-bottom: 30px;

    font-size: 1.2em;

    line-height: 2em;
  }

  .editor {
    position: relative;
    width: 100%;
    height: 380px;
    margin: auto;
    overflow-y: scroll;
  
    border: 1px solid white;
  
    background: rgb(185, 185, 185);
  
    color: black;
  }
  
  .preview {
    width: 100%;
    max-height: 80vh;
    margin: 30px auto;
    overflow-y: scroll;
  
    border: 1px solid white;
  
    * {
      max-width: 650px;
      margin-right: auto;
      margin-left: auto;
  
    }
  }
}
