@import "./colors.scss";

.kanjiStyle {
  display: grid;
  margin: auto;
  padding: 30px;

  background: $main-color;
  
  @media (min-width: 1250px) {
    grid-template-areas:
      'kanjiInfo meanings     ref'
      '.         meanings     .'
      '.         examples     .';
  
    grid-template-columns: 15% 75% 10%;
    width: 100vw;
    max-width: 1250px;

    .kanjiInfo {
      display: flex;
      grid-area: kanjiInfo;
      flex-direction: column;
      
      div {
        margin-left: -10px;

        text-align: center;
      }

      .kanji {
        margin-top: -35px;

        font-size: 4.5rem; 
      }

      .strokeCount {
        font-size: 1.25rem;
      }

      video {
        width: 150px;
        height: 150px;
        margin: 20px auto;
        filter: invert(1);
      }

    }

    .meanings {
      grid-area: meanings;

      font-size: 1.3rem;
    }

    .strokes {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        margin: 20px;
        
        .imgContainer {
          display: flex;
          grid-column: 2;
          max-width: 70%;
          margin: auto;
          padding: auto;
          overflow: auto;
          
          .imgBorder {
            position: relative;
            max-height: 100px;

            .horizontalLine {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 50%;

              border-bottom: 1px white dotted;
            }

            .verticalLine {
              position: absolute;
              top: 0;
              left: 0;
              width: 50%;
              height: 100%;

              border-right: 1px white dotted;
            }
          }

          .strokeImage {
            border: 1px solid black !important;
            filter: invert(1);
          }
        }
      }

    .references {
      display: flex;
      grid-area: ref;
      flex-direction: column;
      align-items: flex-end;

      font-size: 1.2rem;
    }

    .examples {
      display: grid;
      grid-area: examples;
      width: 100%;
      margin: 20px 0;

      font-size: 1.3rem;
      row-gap: 10px;

     .exContainer {
      display: grid;
      grid-template-areas: 
        "exWord exMeaning exSound";
      grid-template-columns: 30% 52% 18%;

      width: 100%;

      .exWord {
        grid-area: exWord;
      } 

      .exMeaning {
        grid-area: exMeaning;
      }
      
      .exSound {
        grid-area: exSound;
      }

      audio {
        width: 100%;
        filter: invert(0.8);
      }
    }
  }
}
}